<!doctype html>
<!--
    Itsy by FreeHTML5.co
    Twitter: https://twitter.com/fh5co
    Facebook: https://fb.com/fh5co
    URL: https://freehtml5.co
-->
<html lang="en">
<head>
    <title>@Model.Title</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="~/storyDes/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/storyDes/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->

    <script src='~/storyDes/js/jquery-3.0.0.min.js'></script>
    <script src='~/sotryDes/js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


<body class="home sticky-menu sidebar-off" id="top">

    <header class="header">

        <div class="header-wrap">

            <div class="logo plain logo-left">
                <div class="site-title">
                    <a asp-action="Index" title="Go to Home">RK</a>
                </div>
            </div><!-- /logo -->


            <nav id="nav" role="navigation">
                <div class="table">
                    <div class="table-cell">
                        <ul id="menu-menu-1">
                            <li class="menu-item">
                                <a asp-action="Index">Home</a>
                            </li>
                            <li class="menu-item">
                                <a asp-action="About">About me</a>
                            </li>

                            <li class="menu-inline menu-item">
                                <a title="Instagram" href="https://www.instagram.com/human_being.7/" target="_blank">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>

                            @* <li class="menu-inline menu-item">
                            <a title="Twitter" href="http://twitter.com/fh5co">
                            <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                            </a></li>*@
                            <li class="menu-inline menu-item">
                                <a title="Facebook" href="https://www.instagram.com/human_being.7/" target="_blank">
                                    <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                                </a>
                            </li>
                            @*<li class="menu-inline menu-item">
                            <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                            </li>*@

                        </ul>
                    </div>
                </div>
            </nav>
            <a asp-action="Index" class="menu-trigger" style="font-family:'Amatic SC', 'Heveltica Neue', Arial, sans-serif;color:black;font-size:large">Home</a>

            @* <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>*@

        </div>

    </header>


    <br>
        <main role="main">
            @RenderBody()
        </main>
   





    <div class="footer-widgets widget-count-4">


        <footer class="footer">
            <div class="footer-wrap">
                <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a><br>
                <div id="footer-text">
                    &copy; 2023 Ranjith.
                    Designed by <a href="#" target="_blank">Ranjith kumar</a>.
                </div>

               
            </div>
        </footer>

        @* <div id="topsearch">
        <div class="table">
        <div class="table-cell">
        <form role="search" method="get" class="searchform" action="index.html">
        <div>
        <input type="text" value="" name="s" class="s" placeholder="Type and hit enter" />
        <input type="submit" class="searchsubmit" value="Search" />
        </div>
        </form>
        </div>
        </div>
        <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
        </div>*@

    </div>
    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->

    <script src="~/storyDes/js/global-plugins.min.js"></script>
    <script src="~/sotryDes/js/main.js"></script>
</body>
</html>